body {
  background: black;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  width: 100vw;
  height: 100vh;
  display: inline-block;
  text-align: center;
  justify-content: center;
  align-items: top;
  transition: background-image 0.5s;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff0000;
}

::-webkit-scrollbar-track {
  background-color: #000000;
}
.zaam2{
  transition: 0.8s;
}
.zaam2:hover{
  cursor: pointer;
  font-size: 23px;
}
.zaam{
  transition: 0.8s;
}
.zaam:hover{
  cursor: pointer;
  font-size: 30px;
}

.texto{
  width: 50%;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(89,3,29,1) 35%, rgba(0,0,0,1) 100%);
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 4px;
  border-color: white;    
  border-radius: 15px;
}
.fundo{
  background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,0,0,0.16850490196078427) 100%);
}
.posi {
  margin-left: 92%;
  margin-top: 15px;
}
.imagem-zoom {
  transition: transform 0.3s; 
}

.imagem-zoom:hover {
  transform: scale(0.9); 
}
.logoinsta {

  width: 50px;
  height: 50px;
}
.membros{
  width: 30%;
  font-family:'Times New Roman', Times, serif;
  background: rgb(195,34,43);
  background: linear-gradient(0deg, rgba(195,34,43,1) 0%, rgba(253,187,45,0) 100%);
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 4px;
  border-color: white;    
  border-radius: 15px;
}
.zoom{
  overflow: hidden;
}
.zoom img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all;
  transition: all 0.3s;
}
.zoom :hover img{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.img{
  margin-left: 10px;
  margin-right: 10px;
}
.sabura:hover {
  cursor: pointer;
}
.imagem1{
  background-image:url(balck.webp);
}
.imagem2{
  background-image: url(image.jpg);
}
.imagem3{
  background-image: url(image.jpg);
}

.dudes {
  border-bottom: 0;
  border-width: 0;
  border-left: 0;
  border-right: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
  margin: 0;
  padding: 0;
}
.glitch {
  font-size: 5rem;
  margin-bottom: 0;
  margin-top: 0;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 #f10d0d, -0.03em -0.04em 0 #ffffff,
    0.025em 0.04em 0 #ff0000;
  animation: glitch 725ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #f10d0d, -0.03em -0.04em 0 #f10d0d,
      0.025em 0.04em 0 #f10d0d;
  }
  15% {
    text-shadow: 0.05em 0 0 #f10d0d, -0.03em -0.04em 0 #f10d0d,
      0.025em 0.04em 0 #f10d0d;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #f10d0d, 0.025em 0.035em 0 #f10d0d,
      -0.05em -0.05em 0 #f10d0d;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #f10d0d, 0.025em 0.035em 0 #f10d0d,
      -0.05em -0.05em 0 #f10d0d;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #f10d0d, 0.03em 0 0 #f10d0d,
      0 -0.04em 0 #f10d0d;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #f10d0d, 0.03em 0 0 #f10d0d,
      0 -0.04em 0 #f10d0d;
  }
  100% {
    text-shadow: -0.05em 0 0 #f10d0d, -0.025em -0.04em 0 #f10d0d,
      -0.04em -0.025em 0 #f10d0d;
  }
}